html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
    font-style: italic;
}

button {
    border: 2px solid black;
    border-radius: 25px;
    background-color: cyan;
    font-size:20px;
    width: 150px;
    height: 50px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 25%;
}

#human_score, #computer_score {
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 15px;
}

#round_winner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}